In [19]:
import os
import h5py
import pandas as pd

In [6]:
VOKENS_DIR = '/Users/staveshemesh/Projects/shstav2/snap/xmatching/bert_resnext/vokens'
VOKENS_PATH = os.path.join(VOKENS_DIR, 'wiki.train.raw.vg_nococo.hdf5')
VOKEN_IDS_PATH = os.path.join(VOKENS_DIR, 'wiki.train.raw.vg_nococo.ids')

# Vokens

In [10]:
!ls -alh {VOKENS_DIR}

total 886560
drwxr-xr-x  4 staveshemesh  staff   128B Feb 18 13:00 .
drwxr-xr-x  4 staveshemesh  staff   128B Feb 18 14:42 ..
-rw-r--r--  1 staveshemesh  staff   425M Dec  7 23:36 wiki.train.raw.vg_nococo.hdf5
-rw-r--r--  1 staveshemesh  staff   877K Dec  7 23:36 wiki.train.raw.vg_nococo.ids

## Voken Unique Ids

In [12]:
!(head -5 && tail -n5) < {VOKEN_IDS_PATH}

vg_nococo/1
vg_nococo/2
vg_nococo/3
vg_nococo/4
vg_nococo/5
vg_nococo/433
vg_nococo/434
vg_nococo/435
vg_nococo/436
vg_nococo/437

## Vokens

In [41]:
VOKENS_PATH

'/Users/staveshemesh/Projects/shstav2/snap/xmatching/bert_resnext/vokens/wiki.train.raw.vg_nococo.hdf5'

In [38]:
print(f'Total vokens: {df_vokens.shape[0]:,}')

Total vokens: 111,457,490

In [27]:
with h5py.File(VOKENS_PATH, 'r') as hf:
    vokens = hf['vokens'][:]
### But you will loose the column index name
df_vokens = pd.DataFrame({'voken_id': vokens})
df_vokens.head()

   voken_id
0     40306
1     15672
2     31865
3     34639
4     41672

In [40]:
df_vokens['voken_id'].value_counts()[:10].to_frame().reset_index()\
    .rename(columns={'index': 'voken_id', 'voken_id': 'count'})\
    .style.format({"count": "{:,}"})